.container{
 margin: 0 auto;
 width: 600px;
}
.follow{
    display: flex;
    justify-content: space-between;
}
.nameUser{
    display: flex;
}
.nameInfo{
    padding-left: 5px;
    font-size: 23px;
    margin: 0;
}
#editProfile{
    display: block;
    position: absolute;
    top: 0;
}
.newName,.newFimale{
    display: flex;
    justify-content: flex-start;
}
.emailUser{
    display: flex;
    border: solid;
    border-top: 0;
    padding: 10px;
}
.subUser{
    display: block;
    width: 350px;
    position: absolute;
    top: 250px;
    background: red;
    left: 650px;
}
#editProfile{
    display: block;
    width: 350px;
    position: absolute;
    top: 250px;
    background: red;
    left: 650px;
}
.messageUser{
    border: 3px solid;
    margin-bottom: 5px;
    word-wrap: break-word;
}
.authorMessage{
    font-size: 15px;
}
.textAuthorMessage{
    font-size: 30px;
}
.followers{
    position: absolute;
    top: 0;
}
.settingFollower{
    display: flex;
    justify-content: space-between;
}
.followUserStyle{
    border: 3px solid;
    margin: 0;
    padding: 10px;  
    font-weight: bold;
}
#textEmailUser{
    margin-left: 16px;
    height: 27px;
    margin-top: 9px;
}   
#addUser{
    display: block;
    margin: 2px auto;
    padding: 1px 30px;
    font-size: 19px;
}
.buttonDiv{
    border: 3px solid;
}
#title{
    font-weight: bold;
    margin: 0;
    border: 3px solid;
    padding: 10px;
}
.newName,.newFimale{
    font-weight: bold;
    margin: 0;
    border: 3px solid;
    border-top: 0;
    padding: 10px;
}
#newName{
    height: 24px;
    margin-top: 11px;
    margin-left: 10px;
}
#newFimale{
    height: 24px;
    margin-top: 11px;
    margin-left: 10px;
}
#saveNewInfo{
    display: block;
    margin: 2px auto;
    padding: 1px 30px;
    font-size: 19px;
}
#messageText{
    width: 532px;
    margin: 17px 0px;
}